# global configuration
global:
  scrape_interval: 15s
  evaluation_interval: 15s

{% if prometheus_alertmanager_enabled == true %}
# Alertmanager configuration
alerting:
  alertmanagers:
    - static_configs:
        - targets:
           - alertmanager:9093

{% endif %}
# scrape configuration
scrape_configs:

{% if prometheus_default_exporter == true %}
  - job_name: "prometheus"
    static_configs:
      - targets:
        - localhost:9090

{% endif %}
  - job_name: "node exporter"
    static_configs:
      - targets:
{% for prometheus_node_exporter_host in prometheus_node_exporter_hosts %}
        - {{ prometheus_node_exporter_host }}:{{ prometheus_node_exporter_port }}
{% endfor %}
